body{
    background-color: beige;
}

button{
    width: 100px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#canvas{
    margin: auto;
    background-color: white;
    width: 512px;
    border: 1px solid darkorange;
}

.row{
    display:flex;
}

.element{
    /*border: 1px solid black;*/
    display: flex;
    width: 5px;
    height: 5px;
}

.hovered{
    background-color: black;
}

#buttonbar{
    background-color: darkorange;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;

}

/*todo: finish formatting the button tray
figure out how to change background color to selected color
probably add current color name to class?*/
