body{
    background-color: beige;
}

button{
    width: 100px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#canvas{
    margin: auto;
    background-color: white;
    width: 50%;    /*width: 512px;*/
    border: 1px solid darkorange;
}

.row{
    display:flex;
}

.element{
    display: flex;
    flex: 1 1 0;
    aspect-ratio: 1/1;
}

.hovered{
    background-color: black;
}

#buttonbar{
    background-color: darkorange;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;

}

#reset{
    background-color: lightcoral;
}

#resize{
    background-color: lightcoral;
}

